*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --grey: #595959;
    --black:#232323;
}

.mainheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
    padding-left: 70px;
    padding-right: 70px;
    position: sticky;
    top: 0;
}
.iner2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}
.twitter{
    width: 26px;
}
.instagram{
    width: 26px;
}
.facebook{
    width: 42px;
}
.search{
    width: 25px;
}
.headerp{
    color: var(--grey);
    font-size: 20px;
}
.headerp1{
    color: var(--grey);
    font-size: 25px;
    font-weight: 800;
}

.hero{
    display: flex;
}

.left{
    margin-top: -70px;
    width: 50%;
    height: 700px;
    background-image: url(yellowright.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}
.right{
    width: 50%;
    height: 605px;
}
.leftp{
    color: var(--black);
    font-size: 80px;
    font-weight: 900;
    padding-left: 100px;
    
}
.leftp1{
    padding-top: 10px;
}
.leftbutton{
    color: white;
    border: 1px solid black;
    background-color:   black;
    width: 162px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 100px;
    margin-top: 53px;
    height:40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.leftbutton:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transform: matrix(1.05);
    transition: all 0.3s ease-in-out;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    margin-top: -28px;
    padding-top: 180px;
    gap: 30px;
    height: 800px;
}

.head1{
    font-size: 60px;
    font-weight: 600;
}
.head2{
    color: rgb(197, 196, 196);
}
.head3{
    color: var(--grey);
}

.sec2div1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.computer{
    width: 50px;
}
.database{
    width: 50px;
    height: 45px;
    margin-bottom: -40px;
}
.server{
    width: 45px;
    margin-bottom: -42px;
}
.calender{
    width: 50px;
}
.sec2iner1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}

.pp1{
    color: black;
    font-size: 27px;
    font-weight: 600;
}
.ppp1{
    padding-top: 30px;
}
.pppp1{
    padding-top: 80px;
}

.section3{
    display: flex;
}
.sec3div1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}
.sec3div2{
    width: 50%;
    background-image: url(section3.png);
    background-repeat: no-repeat;
    background-position:  top;
    height:900px;
}

.sec3img1{
    width: 50px;    
}
.sec3img2{
    width: 60px;
    margin-left: -10px;
}

.sec3p1{
    font-size: 50px;
    font-weight: 800;
}
.sec3iner1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sec3p6{
    color: var(--grey);
    margin-top: -20px;
    font-size: 19px;
}

.sec3p5{
    color: var(--grey);
    font-size: 19px;
}

.sec3p4{
    font-size: 28px;
    font-weight: 600;
}
.sec3iner12{
    padding-left: 6%;
}
.sec3p3{
    color: var(--grey);
    font-size: 17px;
}
.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 600px;
    gap: 80px;
}
.section4 p{
    color: white;
}
.sec4div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sec4div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.sec4p1{
    font-size: 60px;
    font-weight: 700;
}

.sec4img1{
    width:40px;
}
.sec4img2{
    width: 42px;
}
.sec4img3{
    width: 55px;
}
.sec4img4{
    width: 50px;
}

.sec4iner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sec4iner1{
    font-size: 27px;
}

.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec5div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 25px;    
}

.sec5p1{
    font-size: 55px;
    font-weight: 700;
}

.sec5p2{
    color: rgb(177, 177, 177);
}

.sec5p3{
    margin-top: 5px;
    color: var(--black);
}

.sec5div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
}

.person11{
    width: 50px;
}
.person22{
    width: 60px;
}
.globee{
    width: 45px;
}
.sec5iner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #F8F8F8;
    width: 350px;
    padding-top: 20px;
    height: 620px;

}

.iner1{
    font-size: 25px;
    font-weight: 700;
}
.iner2{
    font-size: 60px;
    font-weight: 800;
}

.btniner{
    width: 140px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 800;
}

.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
    height: 600px;
    background-color: black;
}
.sec6img1{
    width: 120px;
}
.sec6iner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec6p1{
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.sec6p2{
    color: white;
}
.sec6p3{
    color: white;
}

.section7{
    display: flex;
    height: 800px;
}
.sec7div1{
    background-image: url(sec7.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    width: 50%;
    height: 100%;
}
.sec7div2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sec7iner1{
    padding-left: 120px;
    padding-top: 60px;
}
.sec7p{
    font-size: 55px;
    font-weight: 800;
}
.sec7iner2{
    padding-left: 120px;
}
.sec7iner3{
    padding-left: 120px;
}

.sec7btn{
    width: 170px;
    height: 40px;
    margin-left: 120px;
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 800;
}
.sec7btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: matrix(1.05);
    transition: all 0.3s ease-in-out;
}

.section8{
    display: flex;
    height: 1050px;
    margin-top: -125px;
    
}

.sec8div1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.sec8div2{
    width: 50%;
    height: 100%;
    background-image: url(sec8.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.sec8pp{
    padding-top: 100px;
}

.sec8p{
    padding-left: 100px;
    font-size: 55px;
    font-weight: 700;
}

.sec8iner1{
    padding-top: 30px;
    padding-left: 100px;
}
.sec8btn{
    margin-top: 30px;
    margin-left: 100px;
    border: none;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 800;
}
.sec8btn:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
    transform: matrix(1.05);
    transition: all 0.3s ease-in-out;
}

.section9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: -150px;
    gap: 20px;
}

.sec9p1{
    font-size: 60px;
    font-weight: 600;
}
.sec9p2{
    color: rgb(168, 168, 168);
}

.sec9div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.sec9p4{
    padding-top: 50px;
    font-size: 27px;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

.sec9img4{
    width: 100%;
}
.sec10div2{
    background-color: blue;
}
.btniner:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
    transform: matrix(1.05);
    transition: all 0.3s ease;
}

.sec9p4:hover{
    background: linear-gradient(90deg, #ffd000, #ff00dd);
    background-clip: text;
    color: transparent;
    transform: matrix(1.05);
    transition: all 0.3s ease;
}

.section10{
    display: flex;
    flex-direction: column;
    height: 500px;
}
.sec10div2{
    width: 100%;
    height: 50%;
    display: flex;
}
.sec10div1{
    width: 100%;
    height: 50%;
    display: flex;
}

.section11{
    display: flex;
    flex-direction: column;
    gap: 90px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.sec11div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sec11p1{
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.sec11div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sec11input1{
    width: 500px;
    height: 50px;
    padding-left: 20px;
    font-size: 17px;
    background-color: white;
    color: black;
    border: none;
}

.sec11p2{
    width: 200px;
    height: 40px;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    font-weight: 700;
    background-color: transparent;
}

.sec11pp{
    color: white;
}

.section12{
    display: flex;
}
.sec12div1{
    background-color: #F8F8F8;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.sec12iner1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec12p1{
    font-size: 55px;
    font-weight: 600;
}
.sec12p2{
    color: rgb(134, 134, 134);
}
.sec12p3{
    color: var(--grey);
}

.sec12p4{
    font-size: 25px;
    font-weight: 600;
}
.sec12p5{
    font-size: 25px;
    font-weight: 600;
    padding-left: 15px;
}
.sec12p6{
    color: rgb(177, 177, 177);
    padding-top: 20px;
    padding-bottom: 20px;
}

.sec12p7{
    font-size: 18px;
    color: rgb(99, 99, 99);
}

.sec12last{
    font-size: 27px;
    font-weight: 700;
}

.sec11p2:hover{
    background-color: white;
    border: none;
    color: black;
    transform: matrix(1.05);
    transition: all 0.3s ease;
}

.sec12div2{
    width: 50%;
    height: 920px;
    background-image: url(sec10.png);
}

.section13{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec13div1{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 30px;
}

.sec13p1{
    font-size: 65px;
    font-weight: 700;
}

.sec13p2{
    color: rgb(179, 178, 178);
}

.sec13p3{
    font-size: 18px;
}

.sec13div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    width: 100%;
    margin-top: 70px;
}

.lastimg1{
    width: 35px;
}
.lastimg2{
    width: 45px;
}
.lastimg3{
    width: 35px;
}

.sec13iner1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sec13iner2{
    margin-left: -150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.iner1iner1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.iner1p1{
    font-size: 22px;
    font-weight: 600;
}
.iner1p2{
    color: rgb(114, 113, 113);
}

.inerdiv1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



.inerdiv3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inerp3{
    font-size: 14px;
}
.inerinput{
    width: 250px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid rgb(192, 192, 192);
}

.inerdiv2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inerinput2{
    height: 40px;
    border: 1px solid rgb(192, 192, 192);
    padding-left: 20px;
}
.inputinput{
    height: 110px;
    padding-bottom: 50px;
}

.inerbtn{
    width: 180px;
    align-self: center;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
}
.inerbtn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: matrix(1.05);
    transition: all 0.3s ease;
}